################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestOAuthAPISDK/bin/Debug/netcoreapp2.1
/TestOAuthAPISDK/obj
